In [1]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Downloading psycopg2-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 2.1 MB/s eta 0:00:02
   --------------- ------------------------ 1.0/2.7 MB 2.1 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.7 MB 1.7 MB/s eta 0:00:01
   ----------------------- ---------------- 1.6/2.7 MB 1.6 MB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.7 MB 1.6 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 1.5 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.5 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2

In [3]:
my_conn = psycopg2.connect(
    host="localhost",
    database="company_managment",
    user="postgres",
    password="0000"
)

In [4]:
cur = my_conn.cursor()
cur.execute("SELECT current_user")
print(cur.fetchone()[0])

postgres

In [5]:
my_conn.commit()
my_conn.autocommit = True
cur.execute("create database depi_round_4_giza;")

In [7]:
cur.execute("SELECT datname FROM pg_database where datistemplate = false;")
for db in cur.fetchall():
    print(db[0])

postgres
company#1_system
company_managment
depi_round_4_giza

In [8]:
cur.execute("create table students_giza (id serial primary key, name varchar(50), age int);")
print("Table created successfully")

Table created successfully

In [9]:
sql = "INSERT INTO students_giza (name, age) VALUES (%s, %s);"
data=("Amr", 25)
cur.execute(sql, data)
my_conn.commit()
print("Data inserted successfully")
print(cur.rowcount, "record inserted.")

Data inserted successfully
1 record inserted.

In [11]:
cur.execute("SELECT * FROM students_giza;")
results = cur.fetchall()
for row in results:
    print(row)

(1, 'Amr', 25)

In [17]:
cur.execute("SELECT age FROM students_giza WHERE name = 'Amr';")
result = cur.fetchall()
print(result)

[(25,)]

In [19]:
sql = "select age from students_giza where name = %s;"
data = ("Amr",)
cur.execute(sql, data)
result = cur.fetchall()
print(result)

[(25,)]

In [22]:
cur.execute("update students_giza set age = 26 where name = 'Amr';")
my_conn.commit()
cur.execute("SELECT * FROM students_giza;")
results = cur.fetchall()
for row in results:
    print(row)

(1, 'Amr', 26)

In [32]:
update_value =  input("Enter the new age for Amr: ")
Condition_value = input("Enter the name of the student to update: ")
data = (update_value, Condition_value)
sql = "update students_giza set age = %s where name = %s; where name = %s;"
my_conn.commit()
cur.execute("select * from students_giza;")
results = cur.fetchall()
for row in results:
    print(row)

(1, 'Amr', 26)

In [35]:

name_to_delete = input("Enter the name of the student to delete: ")
sql = "delete from students_giza where name = %s;"
data = (name_to_delete,)
cur.execute(sql, data)
my_conn.commit()
cur.execute("select * from students_giza;")
results = cur.fetchall()
for row in results:
    print(row)

(1, 'Amr', 26)

In [ ]:
name_to_delete = input("Enter the name of the student to delete: ")
cur.execute("delete from students_giza where name = %s;", (name_to_delete,))
my_conn.commit()
if cur.rowcount > 0:
    print(f"{cur.rowcount} record(s) deleted successfully.")
else:
    print("No records found with the given name.")

No records found with the given name.